<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-listonic-ads" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ListonicAds</name>

    <description>Listonic Ads Plugin</description>
    <license>Apache 2.0</license>
    <keywords>android, listonic ads</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="ListonicAds" src="www/ListonicAds.js">
        <clobbers target="ListonicAds" />
    </js-module>

    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="ListonicAds">
                <param name="android-package" value="com.fitatu.phonegap.plugin.ListonicAds" />
            </feature>
        </config-file>

        <source-file src="src/android/ListonicAds.java" target-dir="src/com/fitatu/ponegap/plugin/ListonicAds" />

        <framework src="com.google.firebase:firebase-config:+" />
        <framework src="com.listonic.ad:companion:2.4.1" />
    </platform>
</plugin>